wrapper {
display: flex;
justify-content: space-around; 
padding: 10px;

}

.c1 {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c2 {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c6 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c7 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}
.c8 {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.596);
    border: 1px solid
}

section {
    width: 25px;
    height: 25px;
    background-color: rgb(177, 71, 71);
}

.section2 {
    margin: 15px;
    width: 25px;
    height: 25px;
    background-color: rgb(177, 71, 71);
}

.section3 {
    margin: 15px;
    width: 25px;
    height: 25px;
    background-color: rgb(177, 71, 71);
}
